.material-symbols-outlined{
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*//////////////////////////////////////////*/

*{
    box-sizing:  border-box;
    padding: 0;
}

body{
    height: 100vh;
    padding: 50px;
}

#container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    height: 400px;
    max-width: 100%;
    width: 800px;
    min-width: 300px;

    margin: auto;
    overflow: hidden;
    border-radius: 50px 50px 0 0 ;
}

.screen{
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
}
.screen>div{
    position: relative;
    width: 50%;
    background-color: black;
    display: flex;
}
.screen>div>img{
    width: 70%;
    margin: auto;
    filter: invert();
}
.screen>.border{
    width: 0;
    border: 2px solid white;
}

.btn-box{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn-box>div{
    width:0;
    padding: 20px;
    background-color: white;
    width:fit-content;
    
    display: flex;

    border: 5px solid;
    border-radius: 0 0 100px 100px ;
}
.btn-box>div:nth-child(2){
    border-left: 5px solid;
    border-right: 5px solid;

}
.btn-box>div>img{
    width: 30%;
    min-width: 50px;
    padding: 5px;
    margin: auto;

    filter:invert(100%);

    background-color: white;
    border: 5px solid;
    border-radius:50px;

    transition: all 0.3s;

    box-shadow:0 0 0 5px white;

    cursor: pointer;
}
.btn-box>div>img:hover{
    transform: scale(1.1);
}
.outcome{
    height: 40px;
    width: fit-content;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;

    position: relative;
    top: 200px;
    margin: auto;
}